@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cookie&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(public/img/logotipos-fondo.webp);
    background-position: center;
}

body {
    width: 60%;
    margin: auto;
}

hr {
    border: hidden;
}

h1 {
    background-color: rgb(220,221,221);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    width: max-content;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid rgb(0, 0, 0, 0.5);
    border-left: hidden;
    border-top: hidden;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
}

fieldset {
    margin-top: 30px;
    border-left: hidden;
    border-top: hidden;
    background-color: #C0C0C0;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
}

legend {
    color: rgb(237,237,237);
    width: max-content;
    margin: auto;
    font-size: 25px;
    background-color: rgb(71,79,81);
    border: 1px solid white;
    margin-bottom: 20px;
}

label {
    display: flex;
    width: max-content;
    margin-left: 10px;
}

input {
    display: flex;
    width: 300px;
}

