@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cookie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
* Paleta de colores que utilizaremos (https://coolors.co/)

#4E3D42 Van Dyke
#FBFBFB White
#E94F37 Cinnabar
#48ACF0 Argentinan Blue
#3F7CAC Steel Blue
*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --van-dyke: #4E3D42;
    --white: #FBFBFB; /* rgb(251, 251, 251) */
    --cinnabar: #E94F37;
    --argentinan-blue: #48ACF0; /* (rgb(72, 172, 240)) */
    --steel-blue: #3F7CAC;
}

body {
    background-image: url(img/fondo-futuro.webp);
    background-position: center center;
    background-size: cover;
}

h1 {
    font-family: "Cinzel", serif;
    text-align: center;
    font-size: 90px;
    font-weight: 900;
    border-width: 20px;
    border-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-right: hidden;
    border-left: hidden;
    color: var(--white);
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

fieldset {
    width: 60%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.9);
    border-style: groove;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin-bottom: 50px;
    padding-bottom: 20px;
}

hr {
    border-width: 10px;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    margin-bottom: 25px;
}


legend {
    font-family: "Cinzel", serif;
    font-size: 30px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.9);
    border-style: groove;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    font-weight: 600;
}

label {
    font-variant: small-caps;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    display: flex;
    margin: auto;
    width: max-content;
    color: var(--white);
    margin-bottom: 10px;
    margin-top: 20px;
}

input {
    display: block;
    width: 500px;
    height: 15px;
    margin: auto;
}

textarea {
    display: block;
    width: 500px;
    height: 100px;
    margin: auto;
}

select {
    width: 500px;
    height: 25px;
    margin: auto;
}

button {
    width: max-content;
    font-size: 15px;
    background-color: var(--argentinan-blue);
    border-radius: 3px;
    border-color: var(--steel-blue);
    color: black;
    font-weight: bold;
    padding: 10px;
}

::placeholder {
    text-align: center;
}

/* Campo Datos Personales */

.label-input {
    margin: auto;
    display: block;
    width: 500px;
    margin-top: 10px;
}

/* /Campo Datos Personales */

/* Campo Sexo */

.selectores-sexo {
    width: min-content;
    margin: auto;
    display: flex;
}

/* /Campo Sexo */

/* Campo Sexo-Actividad */

.inputs-sexo-actividad {
    width: max-content;
    margin: 10px;
}

.labels-sexo-actividad {
    width: min-content;
    margin-right: 20px;
    margin-top: 7px;
}

.inputs-labels-sexo-actividad {
    width: min-content;
    display: flex;
    margin: auto;
}

/* /Campo Sexo-Actividad */

/* Campo Actividad */

.labels-sedes {
    text-align: start;
    display: flex;
    width: max-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -5px;
}

/* /Campo Actividad */

/* Parte final (fuera fieldsets) */

.campo-final {
    margin: auto;
    display: flex;
    width: min-content;
}

.label-final {
    font-size: 25px;
    width: max-content;
    margin: auto;
    color: var(--white);
}

.inputs-final {
    width: max-content;
    margin-right: 10px;
    display: block;
}

/* /Parte final */

/* Interactividad */

fieldset:focus-within {
    background-color: rgb(0, 0, 1, 0.5);
}

fieldset:focus-within input:focus {
    background-color: rgb(72, 172, 240, 0.6); /* color "argentinan-blue" con sombra */
}

fieldset:focus-within textarea:focus {
    background-color: rgb(72, 172, 240, 0.6);
}

fieldset:focus-within legend {
    background-color: rgb(72, 172, 240, 0.8);
}

button:focus-within {
    background-color: var(--steel-blue);
    border: var(--argentinan-blue);
}

/* /Interactividad */




