/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(36, 37, 40);
    width: 750px;
    margin: auto;
}

h1 {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 35px;
    width: 700px;
    margin: auto;
    color: rgb(232, 233, 236);
    text-align: center;
    border-top: 10px solid rgb(82, 109, 99);
    border-bottom: 10px solid rgb(82, 109, 99);
    margin-bottom: 10px;
    border-style: solid;
    border-width: 10px;
    border-left-color: rgb(36, 37, 40);
    border-right-color: rgb(36, 37, 40);
}

hr {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    border: 11px dotted rgb(168, 192, 184);
    border-bottom: hidden;
}

fieldset {
    background-color: rgb(214, 225, 221);
    border: 0px;
    border-radius: 2px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

label {
    text-align: center;
    display: block;
    width: max-content;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 10px;
}

input {
    display: block;
    width: 400px;
    margin: auto;
}

legend {
    font-family: "Roboto";
    color: rgb(232, 233, 236);
    background-color: rgb(82, 109, 99);
    border-radius: 5px;
    padding-block: 5px;
    margin-left: 15px;
}

input {
    display: block;
    width: 400px;
    margin: auto;
}

textarea {
    display: block;
    width: 400px;
    height: 100px;
    margin: auto;
}

select {
    display: block;
    width: 400px;
    margin: auto;
}

::placeholder {
    text-align: end;
}

button {
    width: max-content;
    background-color: rgb(49, 63, 58);
    border-radius: 3px;
    border-color: rgb(82, 108, 98);
    color: rgb(124, 146, 138);
    padding: 7px;
}

/* Campo Sexo */

.selectores-sexo {
    width: min-content;
    margin: auto;
    display: flex;
}

.campos-selectores {
    width: min-content;
    display: flex;
}

.inputs-selectores {
    width: auto;
    margin: 3px;
}

.labels-selectores {
    width: min-content;
    margin-right: 5px;
}

/* /Campo Sexo */

/* Campo Actividades */

.labels-info-sedes {
    text-align: start;
    display: inline-block;
    width: max-content;
    margin-top: 10px;
    font-weight: 100;
}

.labels-sedes {
    text-align: start;
    display: inline-block;
    width: max-content;
    margin-top: 10px;
}

.selectores {
    width: min-content;
    display: flex;
}

/* /Campo Actividades */

/* Campo final (fuera de los fieldset) */

.campos-finales {
    display: flex;
    width: min-content;
}

.labels-final {
    width: max-content;
    margin-left: 5px;
    color: rgb(232, 233, 236);
}

/* /Campo final */

/* Estilos cuando se interactúa con la página */

fieldset:focus-within {
    background-color: rgb(168, 192, 184);
}

fieldset:focus-within input:focus {
    background-color: rgb(82, 109, 99);
}

fieldset:focus-within textarea:focus {
    background-color: rgb(82, 109, 99);
}

fieldset:focus-within legend {
    background-color: rgb(49, 63, 58);
}

button:focus-within {
    background-color: rgb(164, 190, 186);
}

/* /Estilos cuando se interactúa con la página */