@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cookie&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(img/fondo-retro.webp);
    background-position: center;
}

body {
    width: 60%;
    margin: auto;
}

hr {
    border: hidden;
}

h1 {
    color: rgb(237,237,237);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    width: max-content;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 5px rgb(177, 177, 177);
    border-style: ridge;
    background-color: rgb(71,79,81);
    box-shadow: 10px 10px 50px rgb(0, 0, 0); 
}

fieldset {
    margin-top: 30px;
    border: 5px rgb(177, 177, 177);
    border-style: ridge;
    background-color: rgb(212, 210, 210);
    box-shadow: 10px 10px 50px rgb(0, 0, 0);    padding-bottom: 20px;
}

legend {
    color: rgb(237,237,237);
    width: max-content;
    margin: auto;
    font-size: 25px;
    background-color: rgb(71,79,81);
    border: 1px solid white;
    margin-bottom: 20px;
}

label {
    font-size: 20px;
    display: flex;
    width: 400px;
    margin-bottom: 5px;
    margin: auto;
}

input {
    display: flex;
    width: 400px;
    margin: auto;
}

select {
    display: flex;
    width: 400px;
    height: 30px;
}

.label-input {
    width: fit-content;
    margin: auto;
}

textarea {
    width: 400px;
    height: 100px;
}

button {
    width: 350px;
    font-size: 15px;
    border: 5px rgb(177, 177, 177);
    border-style: ridge;
    background-color: rgb(212, 210, 210);
    box-shadow: 10px 10px 50px rgb(0, 0, 0); 
    color: black;
    font-weight: bold;
    padding: 10px;
}

/* Campo Sexo */

.selectores-sexo {
    width: min-content;
    margin: auto;
    display: flex;
}

/* /Campo Sexo */

/* Campo Sexo-Actividad */

.inputs-sexo-actividad {
    width: max-content;
    margin: 10px;
}

.labels-sexo-actividad {
    width: min-content;
    margin-right: 20px;
}

.inputs-labels-sexo-actividad {
    width: min-content;
    display: flex;
    margin: auto;
    margin-top: -5px;
}

/* /Campo Sexo-Actividad */

/* Campo Actividad */

.labels-sedes {
    width: fit-content;
    margin: auto;
}

#labels-info-actividades {
    font-size: 15px;
    width: fit-content;
    margin: auto;
}

/* /Campo Actividad */

/* Parte final (fuera fieldsets) */

.campo-final {
    width: min-content;
    display: flex;
    margin: auto;
    border: 5px rgb(177, 177, 177);
    border-style: ridge;
    background-color: rgb(212, 210, 210);
    box-shadow: 10px 10px 50px rgb(0, 0, 0);  
    margin-top: 30px;
}

.label-final {
    color: black;
    width: max-content;
    margin-left: 10px;
}

.inputs-final {
    width: max-content;
}

#lbl-final {
    width: max-content;
    display: flex;
    margin: auto;
    border: 5px rgb(177, 177, 177);
    border-style: ridge;
    background-color: rgb(212, 210, 210);
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
}

/* /Parte final */

/* Interactividad */

fieldset:focus-within {
    background-color: rgb(212, 210, 210);
}

fieldset:focus-within input:focus {
    background-color: rgb(0, 0, 128);
    color: white;
}

fieldset:focus-within input::placeholder {
    background-color: rgb(0, 0, 128);
    color: white;
}

fieldset:focus-within textarea:focus {
    background-color: rgb(0, 0, 128);
    color: white;
}

fieldset:focus-within legend {
    background-color: rgb(0, 0, 128);
}

button:focus-within {
    background-color: rgb(0, 0, 128);
    color: white;
}

/* /Interactividad */